.backgroundStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/images/CelticBackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
