.vialContainer {
  width: 150px;
  height: 150px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fillContainer {
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  width: 82px;
  height: 75px;
  overflow: hidden;
  border-radius: 50%;
  z-index: 1;
}

.fillContent {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  border-radius: 0 0 50% 50%;
  transition: height 0.3s ease;
  z-index: 1;
}

.fillBorder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #3a2018;
  border-radius: 50%;
  box-sizing: border-box;
  z-index: 2;
  pointer-events: none;
}

.vialImage {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 2;
  pointer-events: none;
}
