.dialogContainer {
  position: absolute;
  pointer-events: auto;
}

.dialogContent {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.buttonArea {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.borderImage {
  position: absolute;
  object-fit: cover;
}