.frameContainer {
  position: absolute;
  box-sizing: border-box;
}

.fullSize {
  height: 100%;
  width: 100%;
}

.panelContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 3px;
}
